body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  --dirtywhite: #e7e7de;
  --greenblue: #008891;
  --lightblue: #00587a;
  --darkblue: #0f3057;
  --grey: #625a59;
  --lightgrey: #f1f1f1;

  background-color: white;
}
